trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self
  fetchDepth: 1

- task: Docker@2
  displayName: Build image
  inputs:
    command: build
    repository: rajeshb174/main
    dockerfile: $(Build.SourcesDirectory)/Dockerfile
    tags: |
      $(Build.BuildId)
      latest
